{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}EchoHub{% endblock %}</title>
    <meta name="version" content="1.0.0">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <meta name="theme-color" content="#f8f9fa" />
    <meta name="apple-mobile-web-app-capable" content="black-translucent" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <!-- jQuery first -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="{% static 'network/styles.css' %}?v={{ STATIC_VERSION }}" rel="stylesheet" />
    <script src="{% static 'network/index.js' %}?v={{ STATIC_VERSION }}"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'index' %}">EchoHub</a>

      <div>
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' user.id %}"
              ><strong>{{ user.username }}</strong></a
            >
          </li>
          {% endif %}
          <label id="loginUser" hidden>{{user.id}}</label>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Feeds</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'following' %}">Following</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="body">{% block body %} {% endblock %}</div>
  </body>
</html>
